{% extends "_post.html" %}

{%hyde

    title: "Abridged Terms and Conditions"
    type: pattern
    excerpt: "Enables the user to better understand the Terms and Conditions presented by a system through summarization. The most important elements therein are condensed into a more concise overview."
    categories:
        - inform
        - provide
    com: Layered-policy-design Privacy-aware-network-client
    status: pattern
    address:

    %}

{% block article %}

{% include 'patterns/Abridged-Terms-and-Conditions.md' %}

{% endblock %}