{% extends "_post.html" %}

{%hyde

    title: "Ambient Notice"
    type: pattern
    excerpt: "Provide unobtrusive, non-modal, continuous notice when personal data is being accessed to increase awareness of real-time tracking."
    categories:
        - notice
        - mobile
        - user-interface
        - inform
        - notify
    com: Informed-Implicit-Consent
    alt: Asynchronous-notice
    ref: Preventing-Mistakes-or-Reducing-Their-Impact
    status: pattern
    address: http://npdoty.name

    %}

{% block article %}

{% include 'patterns/Ambient-notice.md' %}

{% endblock %}