{% extends "_post.html" %}

{%hyde

    title: "Appropriate Privacy Icons"
    type: pattern
    excerpt: "Use consistent icons in place of policy aspects. The icons should convey these aspects reliably, without allowing room for misinterpretation once explained to the user."
    categories:
        - privacy-policy
        - inform
        - explain
    com: Awareness-Feed Informed-Secure-Passwords Layered-policy-design Privacy-Aware-Wording Privacy-aware-network-client
    status: pattern
    address:

    %}

{% block article %}

{% include 'patterns/Appropriate-Privacy-Icons.md' %}

{% endblock %}