{% extends "_post.html" %}

{%hyde

    title: "Appropriate Privacy Feedback"
    type: pattern
    excerpt: "Supplies the user with privacy feedback, especially concerning that which is monitored and accessed, and by whom."
    categories:
        - inform
        - notify
    com: Increasing-Awareness-of-Information-Aggregation Privacy-Awareness-Panel Whos-Listening Privacy-dashboard Trust-Evaluation-of-Services-Sides Appropriate-Privacy-Icons Icons-for-Privacy-Policies Privacy-color-coding Privacy-Labels Layered-policy-design Privacy-Aware-Wording Privacy-aware-network-client
    use: Ambient-notice Asynchronous-notice
    status: pattern
    address:

    %}

{% block article %}

{% include 'patterns/Appropriate-Privacy-Feedback.md' %}

{% endblock %}