{% extends "_post.html" %}

{%hyde

    title: "Asynchronous notice"
    excerpt: "How can a service effectively provide notice to a user who gave permission once but whose information is accessed repeatedly (perhaps even continuously) over a long period of time? Proactively notify the user after the time of consent that information is being tracked, stored or re-distributed."
    categories:
        - location
        - notice
        - mobile
        - inform
        - notify
    status: draft
    type: pattern

    %}

{% block article %}

{% include 'patterns/Asynchronous-notice.md' %}

{% endblock %}