{% extends "_post.html" %}

{%hyde

    title: "Asynchronous notice"
    type: pattern
    excerpt: "Proactively provide continual, recurring notice to consented users of repeating access to their personal data, including tracking, storage, or redistribution."
    categories:
        - location
        - notice
        - mobile
        - inform
        - notify
    alt: Ambient-notice
    ref: Preventing-Mistakes-or-Reducing-Their-Impact
    status: pattern
    address:

    %}

{% block article %}

{% include 'patterns/Asynchronous-notice.md' %}

{% endblock %}