{% extends "_post.html" %}

{%hyde

    title: "Attribute Based Credentials"
    type: pattern
    excerpt: "Attribute Based Credentials (ABC) are a form of
    authentication mechanism that allows to flexibly and selectively
    authenticate different attributes about an entity without
    revealing additional information about the entity (zero-knowledge
    property)."
    categories: 
        - anonymity
        - authentication
        - zero-knowledge
        - minimize
        - hide
        - restrict
    status: draft
    %}

{% block article %}

{% include 'patterns/attribute-based-credentials.md' %}

{% endblock %}