{% extends "_post.html" %}

{%hyde

    title: "Awareness Feed"
    type: pattern
    excerpt: "Users need to be informed about how visible data about them is, and what may be derived from that data. This allows them to reconsider what they are comfortable about sharing, and take action if desired."
    categories:
        - inform
        - provide
    use: Impactful-Information-and-Feedback Increasing-Awareness-of-Information-Aggregation Privacy-Awareness-Panel Appropriate-Privacy-Feedback Whos-Listening
    com: Privacy-dashboard Trust-Evaluation-of-Services-Sides Appropriate-Privacy-Icons Icons-for-Privacy-Policies Privacy-Labels Privacy-color-coding Layered-policy-design Privacy-Aware-Wording Privacy-aware-network-client
    status: pattern
    address:

    %}

{% block article %}

{% include 'patterns/Awareness-Feed.md' %}

{% endblock %}