{% extends "_post.html" %}

{%hyde

    title: "Decoupling [content] and location information visibility"
    type: pattern
    excerpt: "Allow users to retroactively configure privacy for location information with respect to the content's contextual privacy requirements."
    categories:
        - control
        - retract
    status: pattern
    ref: Reasonable-Level-of-Control
    use: Buddy-List Lawful-Consent
    com: Negotiation-of-Privacy-Policy Private-link Selective-Access-Control Discouraging-blanket-strategies Masquerade
    address:

    %}

{% block article %}

{% include 'patterns/Decoupling-[content]-and-location-information-visibility.md' %}

{% endblock %}