{% extends "_post.html" %}

{%hyde

    title: "Discouraging blanket strategies"
    type: pattern
    excerpt: "Give users the possibility to define a privacy level from a range of options each time they share content."
    categories:
        - control
        - choose
    status: pattern
    use: Buddy-List Lawful-Consent Private-link
    com: Selective-Access-Control Decoupling-[content]-and-location-information-visibility Negotiation-of-Privacy-Policy Reasonable-Level-of-Control Masquerade
    address:

    %}

{% block article %}

{% include 'patterns/Discouraging-blanket-strategies.md' %}

{% endblock %}