{% extends "_post.html" %}

{%hyde

    title: "Dynamic Privacy Policy Display"
    type: pattern
    excerpt: "Provide standardized contextual policy information on the nature and risks of disclosure through tooltips."
    categories:
        - inform
        - notify
    use: Privacy-Policy-Display
    com: Policy-matching-display Platform-for-Privacy-Preferences
    status: pattern
    address:

    %}

{% block article %}

{% include 'patterns/Dynamic-Privacy-Policy-Display.md' %}

{% endblock %}