{% extends "_post.html" %}

{%hyde

    title: "Icons for Privacy Policies"
    type: pattern
    excerpt: "Icons are capable of conveying information more quickly than a document, and are therefore a useful way to augment policies."
    categories:
        - inform
        - explain
    com: Privacy-color-coding Informed-Secure-Passwords Awareness-Feed Layered-policy-design Privacy-Aware-Wording Privacy-aware-network-client
    lds: Appropriate-Privacy-Icons
    status: pattern
    address:

    %}

{% block article %}

{% include 'patterns/Icons-for-Privacy-Policies.md' %}

{% endblock %}