{% extends "_post.html" %}

{%hyde

    title: "Identity Federation Do Not Track Pattern"
    type: pattern
    excerpt: "All information has been extracted from
    http://blog.beejones.net/the-identity-federation-do-not-track-pattern
    
    The Do Not Track Pattern makes sure that neither the Identity
    Provider nor the Identity Broker can learn the relationship
    between the user and the Service Providers the user us."
    categories: 
        - identity-management
        - enforce
        - uphold
    status: draft
    %}

{% block article %}

{% include 'patterns/identity-federation-do-not-track-pattern.md' %}

{% endblock %}