{% extends "_post.html" %}

{%hyde

    title: "Impactful Information and Feedback"
    type: pattern
    excerpt: "Provide feedback about who a user will disclose their information to using certain privacy settings before that information is actually published."
    categories:
        - inform
        - explain
    com: Privacy-Awareness-Panel Privacy-Mirrors Unusual-activities Privacy-dashboard Trust-Evaluation-of-Services-Sides Appropriate-Privacy-Icons Icons-for-Privacy-Policies Privacy-color-coding Privacy-Labels Layered-policy-design Privacy-Aware-Wording Privacy-aware-network-client Preventing-Mistakes-or-Reducing-Their-Impact
    use: Increasing-Awareness-of-Information-Aggregation
    status: pattern
    address:

    %}

{% block article %}

{% include 'patterns/Impactful-Information-and-Feedback.md' %}

{% endblock %}