{% extends "_post.html" %}

{%hyde

    title: "Increasing awareness of information aggregation"
    type: pattern
    excerpt: "Inform users about the potentially identifying effects of information aggregation to prevent them from unknowingly endangering their privacy."
    categories:
        - inform
        - provide
    com: Appropriate-Privacy-Feedback Privacy-dashboard Trust-Evaluation-of-Services-Sides Appropriate-Privacy-Icons Icons-for-Privacy-Policies Privacy-color-coding Privacy-Labels Layered-policy-design Privacy-Aware-Wording Privacy-aware-network-client
    ref: Privacy-Awareness-Panel
    status: pattern
    address:

    %}

{% block article %}

{% include 'patterns/Increasing-Awareness-of-Information-Aggregation.md' %}

{% endblock %}