{% extends "_post.html" %}

{%hyde

    title: "Informed Secure Passwords"
    type: pattern
    excerpt: "Ensure that users maintain healthy authentication habits through awareness and understanding."
    categories:
        - inform
        - explain
    com: Informed-Credential-Selection Unusual-activities Appropriate-Privacy-Icons Icons-for-Privacy-Policies Privacy-color-coding
    status: pattern
    address:

    %}

{% block article %}

{% include 'patterns/Informed-Secure-Passwords.md' %}

{% endblock %}