{% extends "_post.html" %}

{%hyde

    title: "Layered Policy Design"
    type: pattern
    excerpt: "Make privacy policies easier for users to understand by layering detail behind successively more concise and summarized information."
    categories:
        - inform
        - explain
    com: Privacy-Aware-Wording Privacy-Policy-Display Awareness-Feed Abridged-Terms-and-Conditions Privacy-Labels Privacy-color-coding Icons-for-Privacy-Policies Appropriate-Privacy-Icons
    status: pattern
    address:

    %}

{% block article %}

{% include 'patterns/Layered-policy-design.md' %}

{% endblock %}