{% extends "_post.html" %}

{%hyde

    title: "Location Granularity"
    excerpt: "Support minimization of data collection and distribution. Important when a service is collecting location data from or about a user, or transmitting location data about a user to a third-party."
    status: draft
    type: pattern
    categories:
        - location
        - minimization
        - abstract
        - group
    %}

{% block article %}

{% include 'patterns/Location-granularity.md' %}

{% endblock %}