{% extends "_post.html" %}

{%hyde

    title: "Obtaining Explicit Consent"
    type: pattern
    excerpt: "Controllers require consent to be given willingly and specifically when in any way processing the personal data of their users."
    categories:
        - control
        - consent
    status: pattern
    sim: Sign-an-Agreement-to-Solve-Lack-of-Trust-on-the-Use-of-Private-Data-Context
    address:

    %}

{% block article %}

{% include 'patterns/Obtaining-Explicit-Consent.md' %}

{% endblock %}