{% extends "_post.html" %}

{%hyde

    title: "Personal Data Table"
    type: pattern
    excerpt: "In order for users to see what information a controller has about them, they can be provided with a detailed tabular overview of that data upon request."
    categories:
        - transparency
        - access
        - inform
        - provide
    com: Minimal-Information-Asymmetry
    status: pattern
    address:

    %}

{% block article %}

{% include 'patterns/Personal-Data-Table.md' %}

{% endblock %}