{% extends "_post.html" %}

{%hyde

    title: "Platform for Privacy Preferences"
    type: pattern
    excerpt: "Use privacy policies which consist of standardized and extensible vocabulary and data element sets, both of which user agents should be aware of, in order to streamline their review by eliminating redundancies."
    categories:
        - inform
        - provide
    use: Policy-matching-display Privacy-aware-network-client
    com: Dynamic-Privacy-Policy-Display
    status: pattern
    address:

    %}

{% block article %}

{% include 'patterns/Platform-for-Privacy-Preferences.md' %}

{% endblock %}