{% extends "_post.html" %}

{%hyde

    title: "Policy Matching Display"
    type: pattern
    excerpt: "Allow users to specify what privacy preferences they have and non-intrusively bring policy mismatches to their attention."
    categories:
        - inform
        - provide
    com: Dynamic-Privacy-Policy-Display Trust-Evaluation-of-Services-Sides
    use: Privacy-Policy-Display
    status: pattern
    address:

    %}

{% block article %}

{% include 'patterns/Policy-matching-display.md' %}

{% endblock %}