{% extends "_post.html" %}

{%hyde

    title: "Privacy Awareness Panel"
    type: pattern
    excerpt: "Establish user awareness of the risks inherent in the disclosure of their data, whether to the controller themselves or to other users."
    categories:
        - inform
        - provide
    com: Whos-Listening Appropriate-Privacy-Feedback Impactful-Information-and-Feedback Privacy-dashboard Trust-Evaluation-of-Services-Sides Appropriate-Privacy-Icons Icons-for-Privacy-Policies Privacy-color-coding Privacy-Labels Layered-policy-design Privacy-Aware-Wording Privacy-aware-network-client
    status: pattern
    address:

    %}

{% block article %}

{% include 'patterns/Privacy-Awareness-Panel.md' %}

{% endblock %}