{% extends "_post.html" %}

{%hyde

    title: "Privacy Policy Display"
    type: pattern
    excerpt: "The goal of this display is to provide the user information about why what information by whom is requested. It should be used whenever personal data is required from the user."
    categories:
        - inform
        - provide
    com: Layered-policy-design Privacy-Aware-Wording
    status: pattern
    address:

    %}

{% block article %}

{% include 'patterns/Privacy-Policy-Display.md' %}

{% endblock %}