{% extends "_post.html" %}

{%hyde

    title: "Privacy-Aware Network Client"
    type: pattern
    excerpt: "Enhance user awareness of privacy policies by automatically converting it into a standardized and easily readable format over a secure channel."
    categories:
        - privacy-policy
        - proxy
        - p3p
        - inform
        - explain
    com: Awareness-Feed Privacy-Aware-Wording Privacy-Labels Privacy-color-coding Icons-for-Privacy-Policies Appropriate-Privacy-Icons Abridged-Terms-and-Conditions
    status: pattern
    address:

    %}

{% block article %}

{% include 'patterns/Privacy-aware-network-client.md' %}

{% endblock %}