{% extends "_post.html" %}

{%hyde

    title: "Private link"
    type: pattern
    excerpt: "Enable sharing and re-sharing without wide public visibility or cumbersome authenticated access control."
    categories:
        - distribution
        - media
        - access
        - control
        - choose
    status: pattern
    use: Lawful-Consent
    com: Reasonable-Level-of-Control Decoupling-[content]-and-location-information-visibility Selective-Access-Control Active-broadcast-of-presence Masquerade
    address:

    %}

{% block article %}

{% include 'patterns/Private-link.md' %}

{% endblock %}