{% extends "_post.html" %}

{%hyde

    title: "Privacy Color Coding"
    type: pattern
    excerpt: "Provide visual cues in standardized colors about privacy policies and preferences to help convey information to users more quickly."
    categories:
        - distraction
        - visualize
        - user-interface
        - inform
        - explain
    com: Icons-for-Privacy-Policies Informed-Secure-Passwords Awareness-Feed
    status: pattern
    address:

    %}

{% block article %}

{% include 'patterns/Privacy-color-coding.md' %}

{% endblock %}