{% extends "_post.html" %}

{%hyde

    title: "Privacy Labels"
    type: pattern
    excerpt: "Standardize warning labels similar to nutrition information to quickly inform users about privacy policies and preferences."
    categories:
        - visualize
        - user-interface
        - inform
        - explain
    com: Awareness-Feed Layered-policy-design Privacy-Aware-Wording Privacy-aware-network-client Platform-for-Privacy-Preferences
    status: pattern
    address:

    %}

{% block article %}

{% include 'patterns/Privacy-Labels.md' %}

{% endblock %}