{% extends "_post.html" %}

{%hyde

    title: "Privacy dashboard"
    type: pattern
    excerpt: "An informational privacy dashboard can provide collected summaries of the collected or processed personal data for a particular user."
    categories:
        - transparency
        - access
        - location
        - inform
        - provide
    sim: Privacy-Mirrors
    com: Awareness-Feed
    use: Appropriate-Privacy-Feedback
    status: pattern
    address:

    %}

{% block article %}

{% include 'patterns/Privacy-dashboard.md' %}

{% endblock %}