{% extends "_post.html" %}

{%hyde

    title: "Privacy Aware Wording"
    type: pattern
    excerpt: "Ensure that the content of privacy related information provided to the user is worded carefully, maintaining both attention and understanding."
    categories:
        - inform
        - explain
    com: Layered-policy-design Privacy-Policy-Display Privacy-aware-network-client Abridged-Terms-and-Conditions Awareness-Feed Privacy-Labels Privacy-color-coding Icons-for-Privacy-Policies Appropriate-Privacy-Icons
    status: pattern
    address:

    %}

{% block article %}

{% include 'patterns/Privacy-Aware-Wording.md' %}

{% endblock %}