{% extends "_post.html" %}

{%hyde

    title: "Protection against Tracking"
    type: pattern
    excerpt: "This pattern avoids the tracking of visitors of websites
    via cookies. It does this by deleting them at regular intervals or
    by disabling cookies completely."
    categories: 
        - anonymity
        - unlinkability
        - tracking
        - cookies
        - minimize
        - exclude
    status: draft
    %}

{% block article %}

{% include 'patterns/Protection-against-tracking.md' %}

{% endblock %}