{% extends "_post.html" %}

{%hyde

    title: "Reasonable Level of Control"
    type: pattern
    excerpt: "Let users share selectively (push) and make available (pull) specific information to predefined groups or individuals."
    categories:
        - control
        - update
    status: pattern
    use: Masquerade Lawful-Consent
    com: Private-link Active-broadcast-of-presence Discouraging-blanket-strategies
    address:

    %}

{% block article %}

{% include 'patterns/Reasonable-Level-of-Control.md' %}

{% endblock %}