{% extends "_post.html" %}

{%hyde

    title: "Selective access control"
    type: pattern
    excerpt: "Allow users to specify who may access the content they generate, both during and after submission."
    categories:
        - control
        - choose
    status: pattern
    use: Lawful-Consent
    ref: Reasonable-Level-of-Control
    com: Decoupling-[content]-and-location-information-visibility Discouraging-blanket-strategies Private-link Masquerade
    address:

    %}

{% block article %}

{% include 'patterns/Selective-Access-Control.md' %}

{% endblock %}