{% extends "_post.html" %}

{%hyde

    title: "Sign an Agreement to Solve Lack of Trust on the Use of Private Data Context"
    type: pattern
    excerpt: "Services of a controller may require users to sign contracts that stipulate their obligations and processing purposes for which users must consent to use the service. This ensures that users can trust the controller as it is bound to the contract it signs."
    categories:
        - control
        - consent
    status: pattern
    sim: Obtaining-Explicit-Consent
    address:

    %}

{% block article %}

{% include 'patterns/Sign-an-Agreement-to-Solve-Lack-of-Trust-on-the-Use-of-Private-Data-Context.md' %}

{% endblock %}