{% extends "_post.html" %}

{%hyde

    title: "Single Point of Contact"
    type: pattern
    excerpt: "The Single Point of Contact is a security authority who protects the privacy and security of sensitive data stored online by validating the authority of requests and ensuring secure communication channels."
    categories:
        - control
        - consent
        - choose
    status: pattern
    use: Lawful-Consent
    address:

    %}

{% block article %}

{% include 'patterns/Single-Point-of-Contact.md' %}

{% endblock %}