{% extends "_post.html" %}

{%hyde

    title: "[Support] Selective Disclosure"
    type: pattern
    excerpt: "Many services (or products) require the collection of a fixed, often large, amount of personal data before users can use them. Many users, instead, want to freely choose what information they share. This pattern recommends that services Support Selective Disclosure, tailoring functionality to work with the level of data the user feels comfortable sharing."
    categories:
        - control
        - choose
    status: pattern
    address:

    %}

{% block article %}

{% include 'patterns/Support-Selective-Disclosure.md' %}

{% endblock %}