{% extends "_post.html" %}

{%hyde

    title: "Unusual Activities"
    type: pattern
    excerpt: "Prevent suspicious access to user data through alerts and authenticate through multiple factors upon potential compromise of an account."
    categories:
        - notice
        - authentication
        - inform
        - notify
    com: Informed-Secure-Passwords Data-breach-notification-pattern Impactful-Information-and-Feedback
    status: pattern
    address: weisi@cmu.edu

    %}

{% block article %}

{% include 'patterns/Unusual-activities.md' %}

{% endblock %}