{% extends "_post.html" %}

{%hyde

    title: "User data confinement pattern"
    type: pattern
    excerpt: "Avoid the central collection of personal data by
    shifting some amount of the processing of personal data to the
    user-trusted environments (e.g. their own devices). Allow users to
    control the exact data that shares with service providers"
    categories: 
        - data-minimization
        - separate
        - isolate
    status: draft
    %}

{% block article %}

{% include 'patterns/User-data-confinement-pattern.md' %}

{% endblock %}