{% extends "_post.html" %}

{%hyde

    title: "Who’s Listening"
    type: pattern
    excerpt: "Inform users of content where other users or unauthenticated persons having accessed the same content are listed, and may access any further disclosures."
    categories:
        - inform
        - provide
    com: Privacy-Awareness-Panel Appropriate-Privacy-Feedback Privacy-dashboard Trust-Evaluation-of-Services-Sides Appropriate-Privacy-Icons Icons-for-Privacy-Policies Privacy-color-coding Privacy-Labels Layered-policy-design Privacy-Aware-Wording Privacy-aware-network-client
    status: pattern
    address:

    %}

{% block article %}

{% include 'patterns/Whos-Listening.md' %}

{% endblock %}