{% extends "skeleton/_root.html" %}

{% block all %}

<!doctype html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>
		{% block title %}
		{{page.title}} - {{site.name}}
		{% endblock %}
	</title>
  <meta name="description" content="Privacy patterns in software design">
  <meta name="author" content="Nick Doty and Mohit Gupta">
  <link rel="shortcut icon" href="/media/images/favicon.ico">
  
	{% block css %}
  <!-- CSS: implied media="all" -->
  <link href='http://fonts.googleapis.com/css?family=Lora:400,700' rel='stylesheet' type='text/css'>
  <link href="http://fonts.googleapis.com/css?family=Cuprum:regular&v1" rel="stylesheet" type="text/css" >
  <link href="http://fonts.googleapis.com/css?family=News+Cycle&subset=latin&v2" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="{{site.url}}/media/css/main.css?v=2">
	{% block extra_css %}
	{% endblock %}
	{% endblock %}
	<!--[if lt IE 9]>
  <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>
	<body id="{{page.title|slugify}}">
    <div id="container">

			{% include "skeleton/_header.html" %}
      <div id="main" role="main">
			  {% block content %}{% endblock %}
      </div>
			{% include "skeleton/_footer.html" %}

		</div>
    <!-- Grab Google CDN's jQuery, with a protocol relative URL; fall back to local if necessary --
    {% block js %}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.js"></script>
    <script>window.jQuery || document.write("<script src='js/libs/jquery-1.5.1.min.js'>\x3C/script>")</script>
    
  	{% block extra_js %}
  	{% endblock %}
    {% endblock %}-->
    <script>
      var _gaq=[['_setAccount','UA-24350461-1'],['_trackPageview']];
      (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];g.async=1;
        g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
      s.parentNode.insertBefore(g,s)}(document,'script'));
    </script>
	</body>
</html>

{% endblock %}
