{% extends "skeleton/_root.html" %}

{% block all %}

{%spaceless%}

{%ifnotequal node page.node %}
	{% if node.has_listing %}<a href="{{node.listing_url}}">{% endif %}
	<h2>{{node.name|unslugify}}</h2>
	{% if node.has_listing %}</a>{% endif %}
{%endifnotequal%}

<ul id="patterns_listing">
    {% for list_page in node.pages %}
		{% ifnotequal list_page node.listing_page %}
			{% if list_page.display_in_list and list_page.status != "stub" %}
				<li>
				  <a href="{{list_page.url}}">
  				  <h3>
    		  		{% with list_page.name_without_extension|remove_date_prefix|unslugify as default_title %}
    						{{list_page.title|default_if_none:default_title }}
    					{%endwith%}
  					</h3>
						<p class="{% if not list_page.excerpt %}empty{% endif %}">{{list_page.excerpt|default:"No excerpt"}}</p>
					</a>
				</li>
			{%endif%}
		{% endifnotequal %}
	{% endfor %}
</ul>

{%endspaceless%}

{% endblock %}
