{% extends "skeleton/_body.html" %}

{%hyde
    listing: true
%}

{% block content_header %}
{% endblock %}

{% block content_body %}
<h1><a href="/patterns" title="Patterns">Patterns</a> &mdash; <span class="category">{{ category }}</span></h1>
  
  <div class="definition">
    {% with category|slugify as cat %}
      {% with "principles/"|add:cat|add:".md" as cat_def_url %}
        {% markdown %}
          {% include cat_def_url %}
        {% endmarkdown %}
      {% endwith %}
    {% endwith %}
  </div>
  
  <ul id="patterns_listing">
  {% for post in posts %}
  {% if post.status != "stub" %}
		<li>
		  <a href="{{post.url}}">
			  <h3>
		  		{% with post.name_without_extension|remove_date_prefix|unslugify as default_title %}
						{{post.title|default_if_none:default_title }}
					{%endwith%}
				</h3>

				{% if post.excerpt %}
					<p>{{post.excerpt}}</p>
				{%endif%}
			</a>
		</li>
  {% endif %}
  {% endfor %}
  </ul>
{% endblock %}
