{% extends "skeleton/_body.html" %}

{% block content_body %}

<div id="content">
  <p class="byline">Posted on {{ page.created|date:"M d, Y"}}</p>
  <h1>
		{% with page.name_without_extension|remove_date_prefix|unslugify as default_title %}
			{{page.title|default_if_none:default_title }}
		{%endwith%}
	</h1>
	{% filter typogrify %}

	{% markdown %}

	{% block article %}
	{% endblock %}
		
	{% endmarkdown %}

	{% endfilter %}
</div>

 <div id="categories">
    <p>
      Published under {% for c in page.categories %}
      {% for category in page.node.categories %}
      {% ifequal category.name c %}
      <a href="{{category.archive_url}}">{{category.name}}</a>
      {% if page.categories|length > 1 and not forloop.parentloop.last %} · {% endif %}
      {% endifequal %}
      {% endfor %}{% endfor %}
     </p>
 </div>

{% endblock %}

{% block content_header %}
{% endblock %}

{% block context_nav %}
{% include "skeleton/_context_nav.html" %}
{% endblock %}
