{% extends "skeleton/_body.html" %}

{% block content_body %}

<div id="content">
  <p id="categories">
    Categories: {% for c in page.categories %}
      {% for category in page.node.categories %}
        {% ifequal category.name c %}
          <a href="{{category.archive_url}}">{{category.name}}</a>
          {% if page.categories|length > 1 and not forloop.parentloop.last %} · {% endif %}
        {% endifequal %}
      {% endfor %}
    {% endfor %}
  </p>
  <h1>
		{% with page.name_without_extension|remove_date_prefix|unslugify as default_title %}
			{{page.title|default_if_none:default_title }}
		{%endwith%}
	</h1>
	{% filter typogrify %}

	{% markdown %}

	{% block article %}
	{% endblock %}
		
	{% endmarkdown %}

	{% endfilter %}
	
  <p id="comments_link">Questions or comments? Email Nick Doty at <a href="mailto:npdoty@ischool.berkeley.edu" title="Email Nick Doty">npdoty@ischool.berkeley.edu</a></p>
</div>

{% endblock %}

{% block content_header %}
{% endblock %}

{% block context_nav %}
{% include "skeleton/_context_nav.html" %}
{% endblock %}
