html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

blockquote, q { quotes: none; }

ins { background-color: #ff9; color: #000; text-decoration: none; }

mark { background-color: #ff9; color: #000; font-style: italic; font-weight: bold; }

del { text-decoration: line-through; }

abbr[title], dfn[title] { border-bottom: 1px dotted; cursor: help; }

table { border-collapse: collapse; border-spacing: 0; }

hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }

input, select { vertical-align: middle; }


/**
 * Font normalization inspired by YUI Library's fonts.css: developer.yahoo.com/yui/
 */

body { font:13px/1.231 sans-serif; *font-size:small; } /* Hack retained to preserve specificity */
select, input, textarea, button { font:99% sans-serif; }

/* Normalize monospace sizing:
   en.wikipedia.org/wiki/MediaWiki_talk:Common.css/Archive_11#Teletype_style_fix_for_Chrome */
pre, code, kbd, samp { font-family: monospace, sans-serif; }


/**
 * Minimal base styles.
 */

/* Always force a scrollbar in non-IE */
html { overflow-y: scroll; }

/* Accessible focus treatment: people.opera.com/patrickl/experiments/keyboard/test */
a:hover, a:active { outline: none; }

ul, ol { margin-left: 2em; }
ol { list-style-type: decimal; }

/* Remove margins for navigation lists */
nav ul, nav li { margin: 0; list-style:none; list-style-image: none; }

small { font-size: 85%; }
strong, th { font-weight: bold; }

td { vertical-align: top; }

/* Set sub, sup without affecting line-height: gist.github.com/413930 */
sub, sup { font-size: 75%; line-height: 0; position: relative; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }

pre {
  /* www.pathf.com/blogs/2008/05/formatting-quoted-code-in-blog-posts-css21-white-space-pre-wrap/ */
  white-space: pre; white-space: pre-wrap; word-wrap: break-word;
  padding: 15px;
}

textarea { overflow: auto; } /* www.sitepoint.com/blogs/2010/08/20/ie-remove-textarea-scrollbars/ */

/* Align checkboxes, radios, text inputs with their label by: Thierry Koblentz tjkdesign.com/ez-css/css/base.css  */
input[type="radio"] { vertical-align: text-bottom; }
input[type="checkbox"] { vertical-align: bottom; }
.ie7 input[type="checkbox"] { vertical-align: baseline; }
.ie6 input { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label, input[type="button"], input[type="submit"], input[type="image"], button { cursor: pointer; }

/* Webkit browsers add a 2px margin outside the chrome of form elements */
button, input, select, textarea { margin: 0; }

/* Colors for form validity */
input:valid, textarea:valid   {  }
input:invalid, textarea:invalid {
   border-radius: 1px; -moz-box-shadow: 0px 0px 5px red; -webkit-box-shadow: 0px 0px 5px red; box-shadow: 0px 0px 5px red;
}

/* Modular scale:
 * Lora, 14px * 1.618
 * http://modularscale.com/scale/?px1=14&px2=&ra1=1.618&ra2=0
 */

body {
  margin: 22px 155px 22px 95px;
}

#container {
  max-width: 1064px;
  min-width: 658px;
}

header {
  border-bottom: 2px solid #42599E; /*  #2a3d65; */
}

/* Headers (h1, h2, etc) have no default font-size or margin; define those yourself */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Helvetica Neue Light', 'HelveticaNeue-Light', sans-serif;
  margin-bottom: .3em;
}

h1 { font-size: 50px; }
h2 { font-size: 36px; }
h3 { font-size: 22px; }
h4 { font-size: 18px; }
h5 { font-size: 16px; }
h6 { font-size: 14px; font-weight: bold; }

em { font-weight: bold; }

a { color: #42599E; }
a:hover { text-decoration: none; }

#logo {
  display: inline-block;
  font-family: 'Cuprum', serif;
  font-size: 42px;
  width: 62%;
}

#index #logo { font-size: 59px; } /* lessen on every page but home */

.highlight {
  color: #42599E;
}

nav {
  display: inline-block;
  padding-top: 10px;
  text-align: right;
  vertical-align: top;
  width: 37%;
}

nav { color: #444; }
nav li { display: inline-block; }
nav li::after { content: "•"; padding: 0 3px 0 5px; }
nav li:last-child::after { content: ""; padding: 0; }
nav a {
  color: #444;
  font-size: 15px;
}
nav a:hover { text-decoration: none; }

#main { margin-top: 22px; padding-bottom: 22px; }

#content {
  color: #222;
  display: inline-block;
  font-family: 'Lora', serif;
  width: 60%;
}

footer {
  border-top: 1px solid #444;
  padding: 1em 0;
  text-align: center;
}

footer, footer a {
  color: #444;
}

/* Home page button */
#button_holder {
  display: inline-block;
  margin-top: 36px;
  text-align: center;
  vertical-align: top;
  width: 39%;
  white-space: nowrap;
}

#lib_button {
  background-color: orange;
  background-image: -webkit-linear-gradient(#70FF75, #4FB252);
  border: 2px solid #4FB252;
  border-radius: .5em;
  color: white;
  font-family: 'Helvetica Neue Light', 'HelveticaNeue-Light', sans-serif;
  font-size: 30px;
  padding: .5em;
  text-decoration: none;
  text-shadow: 0 2px 1px black;
}
#lib_button:hover { text-shadow: none; }

/* Home page patterns */
#patterns {
  margin: 0;
  margin-top: 22px;
  padding: 0;
}

#patterns li {
  background-color: #42599E;
  background-image: -webkit-linear-gradient(#2A3D65, #395289);
  border-radius: 8px;
  box-sizing: border-box;
  color: white;
  display: inline-block;
  list-style: none;
  margin: 14px;
  margin-left: 0;
  width: 30%;
  vertical-align: top;
}

#patterns a {
  box-sizing: border-box;
  color: white;
  display: block;
  height: 100%;
  padding: 14px;
  text-decoration: none;
  width: 100%;
}

#content p {
  font-size: 14px;
  line-height: 1.5em;
  margin-bottom: 1.2em;
}

#content .byline, #content .byline a, #content .byline a:visited {
  color: #222;
  font-variant: small-caps;
  font-family: sans-serif;
  font-size: 14px;
  text-transform: lowercase;
}

#content .byline a:hover { text-decoration: none; }

/* Table of contents */
#toc {
  border-left: 1px dotted #666;
  box-sizing: border-box;
  display: inline-block;
  float: right;
  margin-top: 100px;
  padding: 1em 0 1em 2em;
  width: 33%;
  vertical-align: top;
}

#toc ol {
  list-style-position: outside;
  margin: 0;
  padding: 0;
  padding-left: 2em;
}

#toc li { padding-bottom: .5em; }

#toc, #toc a {
  color: #666;
}

#toc h2 {
  color: black;
  font-family: sans-serif;
  font-size: 22px;
  text-indent: 1em;
}

ol { list-style-type: upper-roman; }
ol ol { list-style-type: upper-alpha; }
ol ol ol { list-style-type: lower-roman; }
ol ol ol ol { list-style-type: lower-alpha; }