{% extends "skeleton/_body.html" %}

{%hyde
    title: "index"
    listing: True
%}
{% block title %}
  {{site.name}}
{% endblock %}
{% block content_body %}
  <div id="content">
    <p>Privacy patterns are design solutions to common privacy problems &mdash; a way to translate "privacy-by-design" into practical advice for software engineering. We believe design patterns can help <em>document common practices</em> and <em>standardize terminology</em> and while we're starting with a set of patterns for location-based services, we hope to build <em>a living, community space</em> where all can contribute their own patterns.</p>
    <a href="about/" title="About"><em>Learn More &raquo;</em></a>
  </div>
  <div id="sidebar">
    <a href="/patterns/" id="lib_button" title="Browse Patterns">Browse Patterns &raquo;</a>
  </div>

	{%recent_posts recents 3 %}

  <h2>Popular Patterns</h2>
	<ul id="patterns_listing">
		{% for post in recents %}
		  {% if post.display_in_list and post.status != "stub" %}
  			<li>
  				<a href='{{post.url}}'>
  				  <h3>{{post.title}}</h3>
  					{% if post.excerpt %}
  						<p>{{post.excerpt}}</p>
  					{%endif%}
  				</a>
  			</li>
			{% endif %}
		{%endfor%}
	</ul>

{%endblock%}
