/*
 * Reset styles from html5boilerplate.com
 */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }

/**
 * Font normalization inspired by YUI Library's fonts.css: developer.yahoo.com/yui/
 */

body { font:13px/1.231 sans-serif; *font-size:small; } /* Hack retained to preserve specificity */
select, input, textarea, button { font:99% sans-serif; }

/* Normalize monospace sizing:
   en.wikipedia.org/wiki/MediaWiki_talk:Common.css/Archive_11#Teletype_style_fix_for_Chrome */
pre, code, kbd, samp { font-family: monospace, sans-serif; }

/**
 * Minimal base styles.
 */

/* Always force a scrollbar in non-IE */
html { overflow-y: scroll; }

/* Accessible focus treatment: people.opera.com/patrickl/experiments/keyboard/test */
a:hover, a:active { outline: none; }

pre {
  /* www.pathf.com/blogs/2008/05/formatting-quoted-code-in-blog-posts-css21-white-space-pre-wrap/ */
  white-space: pre; white-space: pre-wrap; word-wrap: break-word;
  padding: 15px;
}

textarea { overflow: auto; } /* www.sitepoint.com/blogs/2010/08/20/ie-remove-textarea-scrollbars/ */

/* Webkit browsers add a 2px margin outside the chrome of form elements */
button, input, select, textarea { margin: 0; }

/*
 * End of html5boilerplate CSS; start of privacypatterns CSS
 * 
 * Modular scale:
 * Lora, 14px * 1.618
 * http://modularscale.com/scale/?px1=14&px2=&ra1=1.618&ra2=0
 */
@font-face { font-family: 'Sorts Mill Goudy'; src:url('/media/fonts/OFLGoudyStMTT.ttf') format("truetype"); }

body {
  margin: 22px 95px 22px 95px;
}

#container {
  max-width: 1064px;
  min-width: 658px;
  margin: auto;
}

@media screen and (max-width:855px){
  body {
    margin: 2% 8% 2% 8%;
  }
  #container {
    min-width: unset;
  }
  #logo {
    font-size: 5vw !important;
  }
  nav {
    width: auto !important;
  }
  h1,h2,h3,.toctitle {
    font-size: 5vw !important;
  }
  #content {
    width: 100% !important;
  }
  .toc {
    float: none !important;
    position: inherit !important;
  }
}

header {
  border-bottom: 2px solid #42599E; /*  #2a3d65; */
}

/* Headers (h1, h2, etc) have no default font-size or margin; define those yourself */
h1, h2, h3, h4, h5, h6, .toctitle {
  font-family: 'Helvetica Neue Light', 'HelveticaNeue-Light', 'News Cycle', sans-serif;
  margin-bottom: .3em;
}

h1 { font-size: 50px; }
h2 { font-size: 36px; }
h3, .toctitle { font-size: 22px; }
h4 { font-size: 18px; font-style: italic; }
h5 { font-size: 16px; }
h6 { font-size: 14px; font-weight: bold; }

em { font-weight: bold; }

a { color: #42599E; }
a:hover { text-decoration: none; }
/* Used on specific category pages, e.g. "notice" */
h1 a { color: black; }

#logo {
  display: inline-block;
  font-family: 'Cuprum', serif;
  font-size: 42px;
  width: 62%;
  min-width: 300px;
}
#logo a { color: inherit; text-decoration: none; }
#logo a:hover { text-decoration: none; }

#index #logo { font-size: 59px; } /* Home page is larger */

.highlight { color: #42599E; }

nav {
  display: inline-block;
  font-family: 'Helvetica Neue', 'HelveticaNeue', 'News Cycle', sans-serif;
  text-align: right;
  vertical-align: baseline;
  width: 37%;
}

nav { color: #444; }
nav li { display: inline-block; padding-right: .25em; }
nav a {
  color: #444;
  font-size: 15px;
  padding-right: .25em;
}
nav a:hover { text-decoration: none; }

#main {
  margin-top: 22px;
  padding-bottom: 22px;
}

p, #content {
  font-family: 'Lora', serif;
}

p, ul {
  font-size: 14px;
  line-height: 1.5em;
  margin-bottom: 1.2em;
}

.definition p { font-style: italic; }

#content {
  color: #222;
  display: inline-block;
  width: 70%;
}

#comments_link {
  font-style: italic;
  color: #666;
}

p.berkeley {
	font-family: 'UC Berkeley OS', 'Sorts Mill Goudy';
	font-size: 20px;
	font-style: normal;
}

#iman {
	margin-bottom: -8px;
	padding: 0 3px;
}

#content ul {
  list-style-position: inside;
  margin-left: 1.2em;
}

aside {
  display: inline-block;
  vertical-align: top;
  width: 28%;
}

aside h2 {
  font-size: 22px;
}

/* Categories list is on the patterns listing page */
ul#cats {
  list-style: none;
  margin: 0;
  padding: 0;
  padding-left: .5em;
}

ul#cats li {
  line-height: 1.6em;
  margin: .25em 0;
  text-transform: capitalize;
}

ul#cats a {
  border-radius: 3px;
  display: block;
  text-decoration: none;
}

ul#cats a:hover {
  background-color: #efefef;
}

/* Category icons */
#cats a {
  background: url('/media/images/categories/default.png') no-repeat;
  background-position: 8px center;
  background-size: 24px;
  padding: .5em;
  padding-left: 40px;
}
#cats .notice { background-image: url('/media/images/categories/notice.png'); }
#cats .minimization { background-image: url('/media/images/categories/default.png'); }
#cats .mobile { background-image: url('/media/images/categories/mobile.png'); }
#cats .media { background-image: url('/media/images/categories/media.png'); }
#cats .access { background-image: url('/media/images/categories/access.png'); }
#cats .location { background-image: url('/media/images/categories/location.png'); }
#cats .transparency { background-image: url('/media/images/categories/transparency.png'); }

.category { text-transform: capitalize; }

/* Categories list on individual pattern pages */
p#cats a { background-size: 18px; }
p#cats, p#cats a, p#cats a:visited {
  color: #666;
  font-family: sans-serif;
  font-size: 11px;
  text-transform: uppercase;
}

p#cats a:hover { text-decoration: none; }

/*
 * List of patterns
 */
#content #patterns_listing { margin: 0; padding: 0; }
#patterns_listing li {
  border: 2px solid #efefef;
  -moz-border-radius: 8px;
  border-radius: 8px;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  list-style: none;
  margin: 0 14px 14px 0;
  width: 30%;
  vertical-align: top;
}
/* #content is only 60% of the page, so lists should be 2 wide */
#content #patterns_listing li { width: 45%; }

#patterns_listing a {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: black;
  display: block;
  height: 100%;
  min-height: 155px;
  padding: 14px;
  text-decoration: none;
  width: 100%;
}

#patterns_listing a:hover {
  background-image: -webkit-linear-gradient(
      top,
      #efefef,
      rgba(255,255,255,1) 15px
  );
  background-image: -moz-linear-gradient(
      top,
      #efefef,
      rgba(255,255,255,1) 15px
  );
  background-image: linear-gradient(
      top,
      #efefef,
      rgba(255,255,255,1) 15px
  );
  -moz-border-radius: 8px;
  border-radius: 8px;
}
#patterns_listing a:hover h3 { color: #2A3D65; }

#patterns_listing h3 {
  font-size: 22px;
}

#patterns_listing p { font-family: 'Lora', serif; }
#patterns_listing .empty {
  color: #666;
  font-style: italic;
}

/* Pattern table of contents */
.toc {
  border-left: 1px dotted #666;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  float: right;
  padding: 1em;
  margin-bottom: 1em;
  margin-right: -43%;
  vertical-align: top;
  top: 0px;
  position: -webkit-sticky;
  position: sticky;
}

#content .toc ol, #content .toc ul {
  list-style-position: outside;
  margin: 0;
  margin-left: 1.6em;
  padding: 0;
}

.toc a {
  color: #666;
  line-height: 1.6em;
}

ol { list-style-type: upper-roman; }
ol ol { list-style-type: upper-alpha; }
ol ol ol { list-style-type: lower-roman; }
ol ol ol ol { list-style-type: lower-alpha; }

/* Header links */
.toclink {
  color: inherit;
  text-decoration: none;
}

.toclink:hover {
  text-decoration: none;
}

footer {
  border-top: 1px solid #444;
  color: #666;
  font-family: 'Lora', sans-serif;
  font-style: italic;
  padding: 1em 0;
  text-align: center;
}
footer p { margin-bottom: 1em;}

footer a {
  color: #444;
}

/* 
 * Homepage specific styles
 */
#index #content { width: 60%; }
/* Button */
#index #sidebar {
  display: inline-block;
  margin-top: 36px;
  text-align: center;
  vertical-align: top;
  width: 39%;
  white-space: nowrap;
}

#lib_button {
  background-color: #2A3D65;
  background-image: -webkit-linear-gradient(#395289, #2A3D65);
  background-image: -moz-linear-gradient(#395289, #2A3D65);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#395289, endColorstr=#2A3D65);
  zoom: 1;
  background-image: linear-gradient(#395289, #2A3D65);
  border: 2px solid #395289;
  border-radius: 14px;
  color: white;
  font-family: 'Helvetica Neue Light', 'HelveticaNeue-Light', sans-serif;
  font-size: 30px;
  padding: .25em .5em;
  text-decoration: none;
  text-shadow: 0 2px 1px black;
}
#lib_button:hover {
  background-color: #5675B8;
  background-image: -webkit-linear-gradient(#5675B8, #2A3D65);
  background-image: -moz-linear-gradient(#5675B8, #2A3D65);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#5675B8, endColorstr=#2A3D65);
  background-image: linear-gradient(#5675B8, #2A3D65);
}

a[title="About"] { font-size: 1.3em; }

#index header { border-bottom: none; }

#index h2 {
  font-size: 22px;
  margin: 1.6em 0 1em 0;
}

a.license {
  border-width: 0;
  vertical-align: middle;
}

/* Disqus customizations */

#disqus_thread {
  background-color: #efefef;
  padding: 0 2em;
  padding-top: 1px;
  -moz-border-radius: 8px;
  border-radius: 8px;
}

#dsq-subscribe { display: none; } /* Hide subscribe and RSS links */
#dsq-global-toolbar { display: none; } /* Hide Disqus logo thing */
